[submodule "panelbem"]
	path = panelbem
	url = git@github.com:jbardhan/panelbem
[submodule "pointbem"]
	path = pointbem
	url = git@github.com:jbardhan/pointbem
[submodule "bb-matlab-analytical-nonlocal-sphere"]
	path = bb-matlab-analytical-nonlocal-sphere
	url = git@github.com:jbardhan/bb-matlab-analytical-nonlocal-sphere.git
